@import "global";
$bg: #ff5722;

.popup {
  &-container {
    width: 790px;
    font-family: monospace;
    .btn {
      outline: none;
      border: 2px solid $bg;
      color: $bg;
      cursor: pointer;
      background: none;
      font-size: 24px;
      border-radius: 5px;
      font-family: "Lato", sans-serif;
      margin: 10px;
      &:hover {
        border: none;
        color: white;
        font-size: 28px;
        background-color: $bg;
      }

      &-wrapper {
        display: flex;
      }
    }

    .link {
      height: 20px;

      &-img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
      }
    }

    .fav-star {
      color: transparent;
      stroke: black;

      .selected {
        color: orange;
        stroke: orangered;
      }
    }

    .history,
    .favs {
      &-content {
        font-size: large;
        margin-top: 10px;
      }
      &-list {
        counter-reset: section;
        list-style-type: none;
        padding: 0 10px;
      }
      &-list-item {
        padding: 8px 0;
        display: flex;
        align-items: center;

        &:nth-child(odd) {
          background-color: rgba($color: blue, $alpha: 0.1);
        }

        span {
          margin-left: 10px;
          cursor: ew-resize;
        }
      }
    }

    .hidden {
      display: none;
    }
    .visible {
      display: block;
      height: 0;
    }
  }
}
